body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*height: 100vh;*/
  width: 1280px;
  height: 720px;
  /*overflow: hidden;*/
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.videoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  zIndex: -1
}

.contentContainer {
  z-index: 100000;
  position: absolute;
  width: 100%;
  height: 100%;
}

.offerWrap {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 251px;
  background: #86D3F4;
  height: 400px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offerQR {
  height: 126px;
  width: 126px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.offerHeader {
  width: 231px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.offerQRText {
  width: 126px;
  height: 32px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1em;
}

.myBtn {
  width: 156px;
  height: 52px;
  background: #000000;
  align-items: center;
  color: #86D3F4;
  outline: none;
  border: none;
}


.fullHeightWrap {
  background: #86D3F4;
  position: absolute;
  height: 100vh;
  left: 0;
  width: 380px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formInput {
  background: none;
  font-size: 35px;
  padding-bottom: 20px;
  padding-top: 20px;
  border: none;
  outline: none;
  font-weight: bold;
  text-align: center;
}

.formManager {
  line-height: 1em;
}



.formSymbol {
  text-align: center;
  width: 90px;
  height: 50px;
  margin: 10px;
  font-size: 25px;
  border: 1px solid black;
  background: #fff;
}

.formCommand {
  font-size: 35px;
  width: 200px;
  height: 50px;
  margin: 10px;
  font-size: 25px;
  border: 1px solid black;
  background: #fff;
}

.formCommand:hover, .formSymbol:hover {
  background: #bdbdbd;
}

.formCommand:focus, .formSymbol:focus {
  background: #000;
  color: #ffffff;
}

.formCheckBox {
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  display: none;
}

.formCheckBox:checked {
  background: red;
  color: #000000;
}

.formCheckLabel:before {
  content: "";
  position: absolute;
  left: -50px;
  top: 3px;
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid black;
}

.formCheckBox:checked + .formCheckLabel:before {
  content: " \2713";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #000000;
}

.formCheckLabel {
  width: 200px;
  position: relative;
}


.formSubmitButton {
  background: none;
  border: 1px solid black;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  margin-top: 13px;
}

.closeButton {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 88px;
  height: 52px;
  background: #fff;
  color: #000000;
  /*padding-top: 30px;*/
  /*padding-bottom: 30px;*/
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QRcode {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  align-items: center;
}

.QRcode img {
  height: 110px;
  width: 110px;
}

.QRcode h5 {
  text-transform: uppercase;
  color: #fff;
  text-align: right;
  margin-right: 25px;
  font-size: 16px;
  width: 194px;
  font-weight: normal;
}

.successTitle {
  font-size: 32px;
  width: 284px;
  text-transform: uppercase;
  text-align: center;
}

.successText {
  font-size: 14px;
  width: 284px;
  text-align: center;
}